body {
  background-color: #1d1b1be3;
  background-image: url(https://images.unsplash.com/photo-1448067686092-1f4f2070baae?q=80&w=1770&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: 150%;
}

.App {
  display: flex;
  height: 100vh;
  width: 100vh;
}
