.Button-container {
  margin: 1rem;
  margin-left: 5rem;
  size: 7rem;
}

.Button {
  width: 7rem;
  height: 2rem;
  font-weight: 700;
  color: #fff;
  background-color: #00090e;
  border-radius: 20%;
}

.Button:hover {
  background-color: #999;
  color: #00090e;
  box-shadow: 2px;
}
